<html>
	<head>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/functions.js"></script>
		<script src="/static/js/colpick.js"></script>
		<link rel="stylesheet" href="/static/css/colpick.css"/>
		<link rel="stylesheet" href="/static/css/gui.css"/>
		<script type="text/javascript">
			$$(document).ready(function () {
				$$('.colourpicker').colpick({
					colorScheme:'dark',
					layout:'rgbhex',
					color:'ff8800',
					onSubmit:function(hsb,hex,rgb,el) {
						$$(el).css('background-color', '#'+hex)
						submit_colour(el, rgb)
						$$(el).colpickHide()
					}
				}).css('background-color', '#ff8800')
			});
		</script>
	</head>
<body>
	<div class='colourpicker' id='cp1'></div>
	<div class='colourpicker' id='cp2'></div>
	<div class='colourpicker' id='cp3'></div>	
	<input id='input_command' type='text' onkeypress='return command_keypress(event);'/>
</body>
</html>
